@font-face {
  font-family: 'Poppins';
  src: 
       url('./../assets/font/Poppins-Light.ttf') format('truetype');
}

*{
	margin:0px;
	padding:0px;
	
	font-family:'Poppins';
	word-wrap:break-word;
	color:#fcf9ec;
	scroll-behavior: smooth;
	background-color:inherit;
	
	
}
body{
	background-color:var(--background);
}
img {
	border-radius:10px
}
:root {
    --background:#fcf9ec;
	--zelena:  #B3B995;
	--zuta:  #e6c392;
	--pink:#bb3f7c;
	--tamna:#274529;
}
.cleaner{
	clear:both;
}
a{
	text-decoration:none;
}
h2{
	font-size:24pt;
	
}
a:hover{
	transform:scale(1.4);
	color:var(--tamna);
}
.active{
	color:var(--tamna);
	
}
span{
	transition:0.5s;
}
span:hover{
	transform:scale(1.1);
color:var(--tamna);
}
/* Header */
header{
	height:80px;
	width:100%;
	background-color:var(--zelena);
	position:fixed;
	top:0;
	z-index:10;
	border-bottom:1px #003300 solid;	
}
.logo{
	float:left;
	width:180px;
	height:80px;
	padding:18px;
	box-sizing:border-box;
	margin-left:55px;
}

.navigation{
	float:right;
	padding:27.5px
}
li, ul{
	display:inline;
	list-style-type:none;
	background-color:var(--zelena);
	
}
nav ul li:last-of-type 
{
    border: none;
}
.navigation li{
	margin:0px 15px 0px 30px;
	border-right:solid 1px;
	padding-right:30px
	
}

/* MAIN */
/* INTRO */
.main {
	height:100%;
    background-color:var(--zuta);
	text-align:center;
	margin:80px 15% 0px 15%;
	
}
#intro {
	display:flex;
	height:400px;
	background-color:var(--zelena);
	justify-content:space-evenly;
	align-items:center;
	
	text-align:left;
	border-bottom: 1px #003300 solid;
}
#block{
	
	animation-name:fadeInLeft;
	animation-duration:1.5s;
	width:40%
}
.headline{
	font-size:1.67em;
}
.text{
	font-size:1.1em;
}
#people{
	animation-name:fadeInRight;
	animation-duration:1.5s;

}
#intro2{
	display:flex;
	height:400px;
	justify-content:space-evenly;
	align-items:center;
}
.block2 {
	text-align:right;
	animation-name:fadeInRight;
	animation-duration:1.5s;
	width:40%;
}
#boat{
	animation-name:fadeInLeft;
	animation-duration:1.5s;
}
/* Galerija */


#gallery {
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	
}
.column{
	width:30%;
}
.column img{
	width:100%;
	margin-top:10px;
	transition: .5s;
	animation-duration:1.5s;
	animation-name:fadeInMiddle;
}
.column img:hover{
	transform:scale(1.05);
	
	
}
/* Contact */
#work{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	height:300px;
	background-color:var(--zelena);
	border-bottom: 1px #003300 solid;
	
	
	
}
#work p{
	width:30%;
} 
#contact{
	height:750px;
	background-image:url(../assets/img/clouds.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	background-color: #fcf9ec96;
	background-attachment:fixed;
	display:flex;
	justify-content: space-evenly;
	align-items: center;

}
#container{
	
	height:60%;
	
	box-sizing:border-box;
    padding: 20px;
	border-radius:10px;	
	
	animation-name:fadeInMiddle;
	animation-duration:1.5s;
}
input{
	border:none;
	height:15%;
	width:100%;
	margin:5px 0px 5px 0px;
	color:#000;
	border-radius:10px;
	padding-left:5px;
	
}
label,b{
		color:#000;
		float:left;
		background-color:#f8fcec00;	
}
#button01{
	width:40%;
	color: #000;
	transition:0.5s;
	margin-top:40px;
}
#button01:hover{
	transform:scale(1.04);
	color:var(--background);
	background-color:var(--zelena);
}
/* Footer */
.footer{
	height:70px;
	background-color:var(--zelena);
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	padding:20px 0px 20px 0px;
}
.footer ul li {
	margin-left:15px; 
}
.footer ul li:first-child{
	margin-left:0px;
	
}
.icons{
	width:30%;
}
footer .zmdi{
	font-size:15pt;
	transition:0.5s;
}
footer .zmdi:hover{
	transform:scale(1.5);
	color:var(--tamna);
}
.info{
	width:30%;
	text-align:right;
}
.copyright{
	width:30%;	
	text-align:center;	
	background-color:var(--zelena);
}
/* About us */
.us {
  display: flex;
  flex-wrap:wrap;
  background-color:var(--zuta);
}
.us div {
  flex:45%;
  height: 100%;
  padding:15px
  }
#introduction{
	flex:100%;	
	height:auto;
	background-color:var(--zelena);
	border-bottom: 1px #003300 solid;
	
}
.main p{
	
	animation-duration:1.5s;
	animation-name:fadeInMiddle;
}
.left img,.right img{
	float:left;
	height:500px;
	margin-left:20%;
}
.camera{
	flex:45%;
	padding:10px 0px
	
}
.camera img{
	width:400px;
	height:auto;
	animation-name:fadeInMiddle;
	animation-duration:1.5s;
	
}
/* ANIMATIONS */
@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}  	

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
@keyframes fadeInMiddle {
   0% {
      opacity: 0;
      transform: translateX(0px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.right img,.right p{
	
	   animation-name:fadeInRight;
		animation-duration: 2s;
}

.left img,.left p{

    animation-name:fadeInLeft;
    animation-duration: 2s;
}
.blocks{
	
	height:400px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	
	
	
	
}
.offers {

  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 16pt;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  background-color:var(--zelena);
  border: 1px #003300 solid;
  transition:0.5s;
  animation-name:fadeInMiddle;
  animation-duration:2s;
 
}
.offers .zmdi{
	font-size:30pt;
	color: var(--tamna);
	
	
	
}
h1, h2, h3 {
	
	color:var(--tamna);
	
}
.pointer{
	padding-top:5px;
	box-sizing:border-box;
	
}
#introduction h1::after,h2::after,h3::after{
	width:90%;
    content: "";
    display: block;
    margin: 0 auto;
    height: 1px;
    background-color:var(--tamna);
}




.offers:hover {
	background-color: var(--background); 
}



.offers:hover i {
	color: var(--zuta);
}



.offers:hover h3 {
	
	color: var(--zuta);
}



.offers:hover p {
	color: var(--tamna); 
}
.offers:hover a{
	color:#000;
	
}
.offers:hover strong{
	
	color:var(--tamna);
	
}
table {
			border-collapse: collapse;
			width: 40%;
			text-align: center;
			height:70%;
			border-radius: 10px; 
			overflow: hidden;
			border: 1px solid var(--tamna);
			
			
		}	
		}
th, td {
			padding: 10px;
			
		}
th {
			background-color: var(--zelena);
		}
tr,td{
	background-color:var(--background);
	color:var(--tamna);
	border: 1px solid var(--tamna);
}
#infoblock{
	display:flex;
	height:500px;
	justify-content:space-evenly;
	align-items:center;
}
iframe{
	border-radius:10px;
	
}
#trust{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	height:250px;
	background-color:var(--zelena);
}
.items{
	width:30%;
	
	height:200px;
	display:flex;
	word-wrap:break-word;
	justify-content:center;
	align-items: center;	
}
.items i{
	margin:5px;
	display:inline;
	width:10%;
	height: 150px;
	font-size:35pt;
	box-sizing:border-box;
}
.items p{
	
	display:inline;
	
}
.itemstxt{
	height:40%;
 width:80%;

}
#what{
	background-color:var(--zelena)
}
#work strong{color:var(--tamna)}
#what h1::after{
		width:90%;
    content: "";
    display: block;
    margin: 0 auto;
    height: 1px;
    background-color:var(--tamna);
}
